/* ## RESETS AND VARIABLES */
body, html, html::before, html::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --MAIN-COLOR: rgb(232, 222, 222);
    --MAIN-BGCOLOR: rgb(34, 34, 47);
    --PAGE-COLOR: rgb(58, 77, 146);
}

/* ## BASE PARTS */
.center {
    display: flex;
    justify-content: center;
}

body {
    height: 100%;
    color: var(--MAIN-COLOR);
    background-color: var(--MAIN-BGCOLOR);
}

.header {
    background-image: radial-gradient(ellipse at top ,var(--PAGE-COLOR) 10%, var(--MAIN-BGCOLOR) 70%);
    height: 150px;
    position: relative;
    display: grid;
    place-content: center;
    
}

.header__h1 {
    text-align: center;
    
}

.header__signup__button {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 20px;
    right: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-width: 3px;
    border-color: var(--PAGE-COLOR);
}

.header__signup__button:hover {
    opacity: 0.7;
}

main {
    position: relative;
}

/* ## REGISTER FORM */
.register-form {
    display: none;
    position: fixed;
    left: 50%;
    transform-origin: 0%;
    transform: translateX(-50%);
    border: 5px solid white;
    background-color: var(--MAIN-BGCOLOR);
    z-index: 1;
    max-width: 400px;
    width: 50vw;
    height: 30%;
    padding: 50px;
    border-radius: 10px;
    animation: animatezoom 0.5s;
    box-shadow: 2px 2px 3px 3px #85717182;
}

@keyframes animatezoom {
    from {transform: scale(0) translateX(-50%)}
    to {transform: scale(1) translateX(-50%)}
}

.register-form__h2 {
    color: white;
    text-align: center;
}

.register-form form {
    width: 100%;
}

.register-form__input {
    margin-top: 20px;
    
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.register-form__button {
    min-width: 50px;
    height: 30px;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
    white-space: nowrap;
}

.register-form__cross {
    cursor: pointer;
    user-select: none;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
}

/* ## POSTS */
#blog-posts {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.blog-posts__post {
    position: relative;
    box-sizing: border-box;
    width: 70%;
    max-width: 600px;
    background-color: var(--PAGE-COLOR);
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
    margin-top: 5px;
}

.blog-posts__post__delete {
    display: none;
    right: 15px;
    position: absolute;
    color: red;
    cursor: pointer;
    user-select: none;
    font-size: 1.3rem;
    bottom: 0px;
}

.blog-posts__post:hover .blog-posts__post__delete {
    display: block;
}

.add-post {
    margin: 0 50px;
    max-width: 600px;
    position: relative;
    border-radius: 5px;
    width: 70%;
    min-height: fit-content;
}

#add-post__textarea{
    max-width: 600px;
    color: white;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--PAGE-COLOR);
    border-radius: 5px;
    padding: 10px;
    padding-right: 40px;
    min-height: fit-content;
    overflow: hidden;
}

#add-post__plus {
    user-select: none;
    cursor: pointer;
    color: rgb(36, 213, 47);
    font-size: 35px;
    transform: rotate(45deg);
    position: absolute;
    right: 10px;
    bottom: 5px;
}

